@import "tailwindcss";

@theme {
  --color-primary-blue: #1e293b;
  --color-primary-green: #166534;
  --color-accent-gold: #fbbf24;
  --color-soft-white: #f8fafc;
  --color-slate-gray: #64748b;

  --font-sans: "Montserrat", "Inter", ui-sans-serif, system-ui, sans-serif;
}