---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<a
	href="https://secure.actblue.com/donate/calvin--russ--lunn-1?refcode=directory"
	class:list={[
		"inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-bold rounded-md text-white bg-accent hover:opacity-90 transition-all shadow-md transform hover:scale-105 uppercase tracking-widest",
		className,
	]}
>
	DONATE
</a>
